{#
/**
 * @file
 * Default theme implementation to display an embedded Giphy.
 *
 * Available variables:
 * - giphy_link: A link to the Giphy image.
 *
 * @ingroup themeable
 */
#}

<figure>
	<iframe src="//giphy.com/embed/{{ giphy_id }}" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
	<figcaption><a href="{{ giphy_url }}">via GIPHY</a></figcaption>
</figure>