{#
/**
 * @file
 * Default theme implementation to display an embedded Giphy.
 *
 * Available variables:
 * - giphy_link: A link to the Giphy image.
 *
 * @ingroup themeable
 */
#}

<div style="max-width: 500px;" id="_giphy_{{ giphy_id }}"></div><script>var _giphy = _giphy || []; _giphy.push({id: "{{ giphy_id }}",w: 480, h: 264, clickthrough_url: "https://giphy.com/gifs/{{ giphy_id }}"});var g = document.createElement("script"); g.type = "text/javascript"; g.async = true;g.src = ("https:" == document.location.protocol ? "https://" : "http://") + "giphy.com/static/js/widgets/embed.js";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);</script>
